html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* My */
  background-image: url('./assets/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.92) !important;
}


@media screen and (max-width: 992px){
  body{
    background-image: url("./assets/night.png");
  }
}